<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.silentyears.freetime.mapper.DailyTaskMapper">
    <!-- 新建任务 -->
    <insert id="createTodoTask">
        INSERT INTO daily_task (task_info,create_time) VALUES (#{taskInfo}, now())
    </insert>
    <!-- 更新任务信息 -->
    <update id="updateTodoTask">
        UPDATE daily_task SET task_info = #{taskInfo} WHERE id = #{id}
    </update>
    <!-- 更改任务状态 -->
    <update id="finishTodoTask">
        UPDATE daily_task SET is_finish = 1, finish_time = now() WHERE id = #{id}
    </update>
    <!-- 删除指定id的任务 -->
    <delete id="deleteTodoTask">
        DELETE FROM daily_task WHERE id = #{id}
    </delete>
    <!-- 查询所有未完成的任务 -->
    <select id="listTodoTask" resultType="top.silentyears.freetime.entity.DailyTask">
        SELECT id,task_info taskInfo,create_time createTime from daily_task where is_finish = 0
    </select>
    <!-- 按日期分组查询指定日期所有已经完成的任务 -->
    <select id="listFinishTaskByDate" resultType="top.silentyears.freetime.entity.DailyTask">
        SELECT finish_time finishTime, GROUP_CONCAT(task_info) taskInfo FROM daily_task WHERE finish_time = #{date} AND is_finish = 1 GROUP BY finish_time
    </select>
    <!-- 根据日期分组查询所有已经完成的任务 -->
    <select id="listFinishTask" resultType="top.silentyears.freetime.entity.DailyTask">
        SELECT finish_time finishTime, GROUP_CONCAT(task_info) taskInfo FROM daily_task WHERE is_finish = 1 GROUP BY finish_time
    </select>
</mapper>